<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>430606813502-brr7eer7u20nbo55lf1negflg77nj3d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430606813502-brr7eer7u20nbo55lf1negflg77nj3d8</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rHhEDInZmwaPoa20kQSOEGTYzEQ9y50</string>
	<key>GCM_SENDER_ID</key>
	<string>430606813502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcellofolco.RideWithMe</string>
	<key>PROJECT_ID</key>
	<string>ridewithme-bae2b</string>
	<key>STORAGE_BUCKET</key>
	<string>ridewithme-bae2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:430606813502:ios:f606ad52a5d66801</string>
	<key>DATABASE_URL</key>
	<string>https://ridewithme-bae2b.firebaseio.com</string>
</dict>
</plist>